@model IEnumerable<Press.Services.IPost>
    @{
        ViewData["Title"] = "Home Page";
        ViewData["page-class"] = "home";
    }

    <ol class="posts">
        @foreach (var item in Model) {
            <li>
                <article>
                    <h1><a href="~/post/@item.Slug">aaa @item.Title</a></h1>
                    <time datetime="@item.PublishDate.ToString("o")">@item.PublishDate.ToLocalTime().ToString("dd MMM yyyy")</time>
                    @if (item.Tags?.Any() == true) {
                        @:em
                    foreach (var tag in item.Tags) {<a class="tag" href="#@tag">@tag</a>}
                }
                    @Html.Raw(item.Excerpt)
                </article>
            </li>
        }
    </ol>
