@model Press.Services.IPost
@{
    ViewData["Title"] = "Post";
    ViewData["page-class"] = "post";
}

<article class="post">
    <h1><a href="~/post/@Model.Slug">aaa @Model.Title</a></h1>
    <time datetime="@Model.PublishDate.ToString("o")">@Model.PublishDate.ToLocalTime().ToString("dd MMM yyyy")</time>
    @if (Model.Tags?.Any() == true) {
        @:em
                    foreach (var tag in Model.Tags) {<a class="tag" href="#@tag">@tag</a>}
    }
    @Html.Raw(Model.Content)

    <footer>
        <a href="https://linkedin.com/in/kelps" target="_blank" rel="author">@Model.Author</a>
        <aside class="share">
            <h3>compartilhe</h3>
            <ul>
                <li><a href="#" target="_blank" title="Twitter" class="twitter">Twitter</a></li>
                <li><a href="#" target="_blank" title="Facebook" class="facebook">Facebook</a></li>
                <li><a href="#" target="_blank" title="Google+" class="googleplus">Google+</a></li>
            </ul>
        </aside>
        <aside class="related">
            <span>-veja também-</span>
            <h1><a href="~/post/article">Navegação localhost com Project Spartan no Windows 10</a></h1>
            <h1><a href="~/post/article">Build 2015 - Build Tour São Paulo</a></h1>
            <h1><a href="~/post/article">Navegação localhost com Project Spartan no Windows 10</a></h1>
        </aside>
    </footer>
</article>
